@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans" , sans-serif;
}

body{

   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: #000;
}

h2{

    position: relative;
    font-size: 14vw;
    color: #000;
    -webkit-text-stroke: 0.3vw #323232;
    text-transform: uppercase;
}

h2::before{

   content: attr(data-text);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   color: #fbff00;
   -webkit-text-stroke: 0vw #323232;
   border-right: 2px solid #fbff00;
   overflow: hidden;
   animation: animate 6s linear infinite ;
}

@keyframes animate{

    0% , 10% , 100%{

       width: 0;
    }
    
    70% , 90%{

       width: 100%;
    }
    
    0%{

       width: 0;
    }
    
}
